/*media queris*/
@media screen and (max-width: 768px) {
  /* Estilos que se aplicarán cuando el ancho de la pantalla sea de 768px o menos */
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
  /* Estilos que se aplicarán cuando el ancho de la pantalla sea de 769px o más, y de 1024px o menos */
}

@media screen and (min-width: 1025px) {
  /* Estilos que se aplicarán cuando el ancho de la pantalla sea de 1025px o más */
}

/* Estilos generales */

body {
  background-color: #d5dff5;
  font-family: Arial, sans-serif;
  color: #fff;
}

h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  align-self: center;
  
}

h2{
align-self: center;
margin-left: 7em;
}
/* Estilos para la barra de navegación */

.navbar {
  background-color: #d3def0;
  display: flex;
  margin-left: 3em; 
  margin-right: 3em; 
  padding-left: 30em;
  justify-content: center;
}

.navbar-brand, .navbar-nav .nav-link {
  color: #6c2799;
  font-weight: bold;
}

.navbar-brand:hover, .navbar-nav .nav-link:hover {
  color: #66c3ff;
}

/* Estilos para la sección principal */

section:first-of-type {
  background-color: #a0a5ad;  
}

section:first-of-type h1, section:first-of-type p {
  text-align: center;
}

section:first-of-type h1 {
  font-size: 48px;
  margin-bottom: 30px;
}

section:first-of-type p {
  font-size: 18px;
  margin-bottom: 50px;
}

section:first-of-type .btn-primary {
  background-color: #66c3ff;
  border-color: #66c3ff;
  font-weight: bold;
}

section:first-of-type .btn-primary:hover {
  background-color: #fff;
  color: #0f1b2d;
}

/* Estilos para la sección de productos */

section:nth-of-type(2) {
  background-color: #0f1b2d;
  padding: 100px 0;
}

section:nth-of-type(2) h2 {
  text-align: center;
  font-size: 36px;
  margin-bottom: 50px;
}

.card {
  background-color: #97e7f1;
  border-radius: 10px;
  border: none;
  overflow: hidden;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease-in-out;
}

.card:hover {
  transform: translateY(-10px);
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.card img {
  width: 100%;
  height: auto;
}

.card-body {
  padding: 20px;
}

.card-title {
  font-size: 24px;
  margin-bottom: 10px;
}

.card-text {
  font-size: 18px;
  margin-bottom: 20px;
}

.btn-outline-primary {
  color: #66c3ff;
  border-color: #66c3ff;
}

.btn-outline-primary:hover {
  background-color: #66c3ff;
  color: #fff;
}

/* Estilos para mobile */

@media screen and (max-width: 767px) {

  section:first-of-type h1 {
      font-size: 36px;
  }

  section:first-of-type p {
      font-size: 16px;
  }

  section:nth-of-type(2) h2 {
      font-size: 20px;
  }

  .card-title {
      font-size: 20px;
  }

  .card-text {
      font-size: 16px;
  }

}

/* estilos cartas de compra */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.reducir{
  width: 50%;
}
body{
  font-family: 'Roboto', sans-serif;
  color: #0f1b2d;
}
img {
  width: 100%;
  margin-bottom: 10px;
}
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 10%;
  box-shadow: 0px 5px 4px 3px rgba(0, 0, 0, 0.3);
  margin-bottom: 20px;
}
h1 {
  color: royalblue;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 50px;
}
#boton-carrito {
  border: none;
  color: royalblue;
  font-size: 40px;
  background-color: white;
  border-radius: 50%;
  padding: 10px 20px;
  transition: all .3s;
}
#boton-carrito:hover {
  cursor: pointer;
  color: white;
  background-color: royalblue;
}
#boton-carrito:focus {
  outline: none;
}

#contenedor-productos {
  max-width: 1200px;
  margin: 60px auto;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

p {
  line-height: 1.8;
}
.producto {
  max-width: 20%;
  padding: 10px;
  margin: 10px;
  margin-bottom: 20px;
  box-shadow: 2px 6px 3px 3px rgba(0, 0, 0, 0.3);
}
.precioProducto {
  font-weight: 700;
}
.boton-agregar {
  background-color: royalblue;
  color: white;
  font-size: 18px;
  font-weight: 700;
  padding: 5px;
  border: none;
}
.boton-agregar:hover {
  cursor: pointer;
}
.boton-agregar:focus {
  outline: none;
}

/* estilos ventana o carrito de compra emergente */
.ventana-contenedor {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.3);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  opacity: 0;
  visibility: hidden;
}

.ventana-active {
  opacity: 1;
  visibility: visible;
}

.ventana-carrito {
  position: relative;
  background-color: rgb(252, 250, 249);
  min-width: 500px;
  padding: 20px;
  margin-top: -100%;
  transition: all .5s;
}

.ventana-active .ventana-carrito {
  margin-top: 0;
}

.ventana-carrito h3 {
  color: royalblue;
  padding-bottom: 5px;
}
.ventana-carrito #carritoCerrar {
  position: absolute;
  top: 15px;
  right: 15px;
  font-size: 20px;
  color: royalblue;
  border: none;
  background-color: white;
}
.ventana-carrito #carritoCerrar:hover {
  cursor: pointer;
}
.ventana-carrito #carritoCerrar:focus {
  outline: none;
}
.ventana-carrito .precioProducto {
  padding-top: 10px;
  
}

.productoEnCarrito {
  border-left: 5px solid lightblue;
  border-bottom-left-radius: 3px;
  border-top-left-radius: 3px;
  margin: 5px 0;
  padding: 5px 10px;
  display: flex;
  justify-content: space-between;
}
.productoEnCarrito:hover {
  border-left: 5px solid royalblue;
}

.boton-eliminar {
  background-color: white;
  color: red;
  border: none;
  font-size: 20px;
}

.boton-eliminar:hover {
  cursor: pointer;
}
.boton-eliminar:focus {
  outline: none;
}


/* estilos formulario de contacto*/
/* Importación de fuentes de google fonts */ 
@import url(https://fonts.googleapis.com/css?family=Noto+Sans);


.formulario{
	font-family: 'Noto Sans', sans-serif;
  background-color: #ab4493; 
}


.formulario{	
	width: 460px; 
  height: auto;
  margin: 80px auto;
	border-radius: 10px;  
	padding-top: 30px;
	padding-bottom: 20px;  
  background-color: #fbfbfb; 
  padding-left: 30px; 
}


input{
	background-color: #fbfbfb; 
	width: 408px; 
	height: 40px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #ab4493; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
}


textarea{
  background-color: #fbfbfb; 
	width: 405px; 
	height: 150px; 
	border-radius: 5px;  
	border-style: solid; 
	border-width: 1px; 
	border-color: #ab4493; 
	margin-top: 10px;  
	padding-left: 10px;
  margin-bottom: 20px; 
  padding-top: 15px; 
}


label{
  display: block; 
	float: center; 	
}


button .formulario{
	height: 45px; 
	padding-left: 5px;
	padding-right: 5px; 	
	margin-bottom: 20px; 
	margin-top: 10px; 	
	text-transform: uppercase;
	background-color: #ab4493; 
	border-color: #ab4493; 
	border-style: solid; 
	border-radius: 10px;	
	width: 420px;   
  cursor: pointer;
}


button p .formulario{
	color: #fff; 
}


span .formulario{
	color: #ab4493; 
}


.aviso .formulario{
	font-size: 13px;  
	color: #0e0e0e;  
}


h1 .formulario{
	font-size: 39px;  
	text-align: letf; 
	padding-bottom: 20px; 
	color: #ab4493;
}


h3 .formulario{ 
	font-size: 16px; 
	padding-bottom: 30px;
	color: #0e0e0e;   
}


p .formulario p{
	font-size: 14px; 
	color: #0e0e0e; 
}


::-webkit-input-placeholder {
 color: #a8a8a8;
}


::-webkit-textarea-placeholder {
 color: #a8a8a8;
}


.formulario input:focus{
	outline:0;
	border: 1px solid #97d848;
}


.formulario textarea:focus{
	outline:0;
	border: 1px solid #97d848;
}


.foot{
  display: flex;
   justify-content: center;
}